.dismal-video {
    position: relative;
    overflow: hidden;
    background: $text-gray;
    cursor: pointer;
    transition: $tr;

    &:hover {

        @media (any-hover: hover) {

            & .dismal-video__play {
                transform: translate(-50%, -50%) scale(1.05);
                box-shadow: 0 0 15px rgba(0,0,0,.1);

                & svg {
                    fill: $accent;
                }
            }
        }
    }

    &:active {

        & .dismal-video__play {
            transform: translate(-50%, -50%) scale(.95);
            box-shadow: transparent;

            & svg {
                fill: $accent;
            }
        }
    }

    & img,
    & iframe,
    & video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
        object-fit: cover;
    }

    & img {
        pointer-events: none;
    }

    &.is-playing {

        & .dismal-video__play,
        & img {
            opacity: 0;
        }
    }
}

.dismal-video__play {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
	pointer-events: none;
	transition: $tr;

    @media (max-width: $mobile-l) {
        width: 48px;
        height: 48px;
    }

    & svg {
        width: 28%;
        height: 28%;
        fill: $text-dark;
        margin-right: -4px;
        transition: $tr;
    }
}