.video {
	background: $gradient-main;
	padding: 48px 0 100px;
	margin-top: 0;

	@media (max-width: $tablet) {
		padding: 48px 0;
	}
}

.video__body {

	& > .b-video {

		@media (min-width: $tablet + 1px) {

			&:nth-child(even) {
				flex-direction: row-reverse;

				& .b-video__content {
					margin: 0 var(--margin) 0 0;
				}
			}
		}

		&:not(:last-child) {
			margin-bottom: 80px;

			@media (max-width: $tablet) {
				margin-bottom: 60px;
			}
		}
	}
}